@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');

body {
  background-color:#212121;
  justify-content: center;
  height: 100px;
}
div.form{
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 70px 0;
  margin-top:70px;
  border-radius: 4px;
  background-color:#ff7f27;
}
.input{
 margin-left:25%;
}
div h1{
    font-size:40px;
	color:#212121;
	font-family: 'Akshar', sans-serif;
}
.inputT{
  text-align:left;
  border: 2px solid #212121;
  display: block;
  width: 60%;
  outline: none;
  height: 40px;
  line-height: 60px;
  border-radius: 4px;
}
.invio{
  background-color:#272727;
  text-align:center;
  color:#ff7f27;
  border: 2px solid #272727;
  font-size:18px;
  display:block;
  width: 61%;
  outline:none;
  height: 40px;
  line-heigth:60px;
  border-radius: 4px;
}
.link{
	text-align:center;
	color:#272727;
	font-size:18px;
	font-weight:bold;
}
.link a{
	color:#272727;
}